search:
    repositories:
        in: %appDir%/Modules
        extends:
            - App\Service\AbstractRepository
            - App\Service\UserRepository
            - App\Service\LoginAttemptRepository
            - app\UI\Components\Forms\User\UserFormFactory