{block content}

<h1 class="mt-4">
    User
    <a n:href="Home:create" class="btn btn-info mb-2">Add new user</a>
</h1>
<div class="card mb-4">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Attempts count</th>
                </tr>
                </thead>
                <tbody>
                {foreach $users as $userEntity}
                    <tr>
                        <td>{$userEntity->getEmail()}</td>
                        <td>{$userEntity->getFullName()}</td>
                        <td>
                            {ifset $loginAttempts[$userEntity->getId()]}
                                {$loginAttempts[$userEntity->getId()]}
                            {/ifset}
                        </td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</div>

